# Chặn các thư mục rác biên dịch
[Bb]in/
[Oo]bj/

# Chặn file cấu hình cá nhân của VS Code
.vscode/

# Chặn các file tạm của Visual Studio
*.user
*.suo
*.sln.docstates
/.vs/ChuongtrinhQuanlybanhangsieuthi/FileContentIndex/a957315d-aad5-4870-9c4f-4ff59caff9d2.vsidx
*.vsidx
